* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*:hover {
    cursor: default;
}

html, body {
    height: 100%;
    width: 100%;
    background: #121212;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
.header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #1e1e1e;
    z-index: 1;
    box-shadow: 0px 4px 10px 0px black;
}

.foto-logo {
    width: 48px;
    height: 48px;
    border-radius: 6px;
    object-fit: cover;
    z-index: 10;
}
.foto-logo:hover{
    transform:scale(1.1) ;
    cursor:pointer
}

/* Hamburger */
.hamburger {
    width: 34px;
    height: 28px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 4px;
    width: 34px;
    background: white;
    border-radius: 5px;
    transition: background 0.4s ease;
}

.hamburger:hover span {
    background: red;
    cursor: pointer;
}
.side-menu {
    transform: translateX(100%); 
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;                   
    width: 250px;
    height: 100%;
    background: #222;
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    z-index: 1000;
}

.side-menu.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}


.side-menu a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.2s ease;
}

.side-menu::before,
.side-menu::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: #00eaff;
    transition: width 0.9s ease;
}

.side-menu.active::before,
.side-menu.active::after {
    width: 80%; 
    margin: 10px auto;

}
.side-menu a:hover {
    background: #db2828;
}

.slide-in-left{
    animation: slide-in-left .5s cubic-bezier(.25, .46, .45, .94)both;

}
.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 20px;
    padding-top: 10dvh; /* separación real del header */
    padding-left: 10px;
    padding-right: 10px;
}
.nav-computador{
    display: none;
    position: absolute;
    right: 5%;
    list-style: none;
    gap:50px
}
.nav-computador li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100;
    display: flex;
    justify-content: center;
}
.nav-computador li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    background-color: transparent;
    border-radius: 5px;
}
li:hover{
    background-color: red;
    cursor: pointer;
}
.separador{
    margin-top: 60px;
    margin-bottom: 60px;

    width: 90%;
    height: 5px;
    background-color: #00eaff;
    border-radius: 5px;
}
#grafico-SAGA{
    height: 200px;
    width: 200px;
    
}
.contenedor-posicionado{
    width: 100%;
}
#tierra-png{
    height: 200px;
    border-radius: 50%;
}

.aboutUs-img{
    width: 50%;
    height: 50%;
    border: 1px solid cadetblue;
    border-radius: 5px;
}
h3.subtitulo{
    margin-top: 150px;
}
.contenedor-img-saga{
    min-width: 100px;
    max-height: 204px;
}
p.parrafo{
    margin-top: 100px;
    line-height: 20px;
}

@media(min-height: 680px) {
    .info {
        justify-content: center;
    }
}
@media(min-width: 1024px){
    .hamburger{
        display: none;
    }
    .nav-computador{
        display: flex;
    }
}


