* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*:hover {
    cursor: default;
}

html, body {
    height: 100%;
    width: 100%;
    background: #121212;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}


/* Fondo particles */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: #0a0a0a;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #1e1e1e;
    z-index: 99999999;
    box-shadow: 0px 4px 10px 0px black;

}

.foto-logo {
    width: 48px;
    height: 48px;
    border-radius: 6px;
    object-fit: cover;
    z-index: 10;
}
.foto-logo:hover{
    transform:scale(1.1) ;
    cursor:pointer
}

/* Hamburger */
.hamburger {
    width: 34px;
    height: 28px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 4px;
    width: 34px;
    background: white;
    border-radius: 5px;
    transition: 0.4s ease;
}

.hamburger:hover span {
    background: red;
    cursor: pointer;
}

/* Menú lateral */
.side-menu {
    transform: translateX(100%); 
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;                   
    width: 250px;
    height: 100%;
    background: #222;
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    z-index: 1000;
}

.side-menu.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}


.side-menu a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.2s ease;
}

.side-menu::before,
.side-menu::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: #00eaff;
    transition: width 0.9s ease;
}

.side-menu.active::before,
.side-menu.active::after {
    width: 80%; 
    margin: 10px auto;

}
.side-menu a:hover {
    background: #db2828;
}
/* OSCURECER FONDO */
.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
}

.principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 20px;
    z-index: 1;
    padding-top: 20dvh; /* separación real del header */
}


.titulo {
    font-family: "Audiowide", sans-serif;
    font-size: 2rem;
    margin-bottom: 15px;
}

.slogan {
    font-size: 1.8rem;
    color: #ccc;
}
.button {
    margin-top: 20px;
    padding: 15px 30px;
    background:linear-gradient(150deg,rgba(253, 29, 29, 1) 22%, rgb(136, 5, 5) 75%);
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}                   

.subtitulo {
    font-size: 1.5rem;
    margin-bottom: 50px;
}
.nav-computador{
    display: none;
    position: absolute;
    right: 5%;
    list-style: none;
    gap:50px
}
.nav-computador li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100;
    display: flex;
    justify-content: center;
}
.nav-computador li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    background-color: transparent;
    border-radius: 5px;
}
li:hover{
    background-color: red;
    cursor: pointer;
}
.contacto-section{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    min-height:100%;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    min-height: 300px;
    min-width: 200px;
    background-color: #8C220B;
    border-radius: 5px;
    box-shadow:0px 0px 10px 5px #db2828;
}
#button-submit{
    background: linear-gradient(135deg, cyan, #b30000 85%);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
#button-submit:hover{
    transform: scale(1.05);
    cursor: pointer;
}
input:hover,textarea:hover{
    cursor: text;
}

/* Media Queries: ajustar responsividad horizontal */
@media(min-height: 680px) {
    .info {
        justify-content: center;

    }
}
/*media horizontal celulares*/
@media(min-width:450px){
    .contacto-section{
        margin-top: 100px;
    }
    
}
@media(min-width: 1024px){
    .hamburger{
        display: none;
    }
    .nav-computador{
        display: flex;
    }
}


