* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*:hover {
    cursor: default;
}

html, body {
    height: 100%;
    width: 100%;
    background: #121212;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;}
/* Fondo particles */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: #0a0a0a;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #1e1e1e;
    z-index: 10;
}

.foto {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

/* Hamburger */
.hamburger {
    width: 34px;
    height: 28px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 4px;
    width: 34px;
    background: white;
    border-radius: 5px;
    transition: background 0.4s ease;
}

.hamburger:hover span {
    background: red;
    cursor: pointer;
}

/* Menú lateral */
.side-menu {
    transform: translateX(100%); /* fuera de pantalla */
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;                   
    width: 250px;
    height: 100%;
    background: #222;
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    transition: transform 0.3s ease, opacity 0.3s ease; /* animar transform + opacity */
    z-index: 1000;
}

.side-menu.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}


.side-menu a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.2s ease;
}

.side-menu::before,
.side-menu::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: #00eaff;
    transition: width 0.9s ease;
}

.side-menu.active::before,
.side-menu.active::after {
    width: 80%; 
    margin: 10px auto;
}

.side-menu a:hover {
    background: #db2828;
}

/* OSCURECER FONDO */
.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
}


.principal {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 20px;
    align-self: center;
}
.animacion {}


.titulo {
    font-size: 2rem;
    margin-bottom: 15px;
}

.slogan {
    font-size: 1.8rem;
    color: #ccc;
}
.button {
    margin-top: 20px;
    padding: 15px 30px;
    background: red;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}                   
.button:hover {
    background: #ff4d4d;
}
.button:focus {
    outline: 2px solid #00eaff;
}   
